body {
    font-family: 'Courier New', Courier, monospace;
}

#top-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#top-nav a {
    text-align: center;
    margin: auto;
}

#top-nav #title {
    display: inline;
}

.err {
    color: red;
}