body {
    height: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.user-img {
    width: 200px;
    height: 200px;
    display: inline-block;
}

.thumbnail {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 150px;
    border: 10px solid transparent;
}

.info {
    display: inline-block;
    vertical-align: top;
    border: 10px solid transparent;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

/*Top nav stuff*/
#top-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
}

#top-nav a {
    text-align: center;
    margin: auto;
}

#top-nav #title {
    display: inline;
}

.topright {
    position: -webkit-sticky;
    /* Safari */
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

.dropdown {
    position: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    margin: 0;
    left: 16px;
    /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: left;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: right;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

a {
    color: black
}

a:hover {
    color: red;
}

.border {
    border: 10px solid transparent;
}

.break {
    display: block;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.split {
    display: flex;
}

.left {
    flex: 50%;
}

.right {
    flex: 50%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom {
    position: absolute;
    bottom: 25px;
    left: 42%;
}