<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="../static/favicon.ico" rel="icon">
    <link href="../static/styles.css" rel="stylesheet">

    <title>The Armoire</title>
</head>
<body>
    <nav id="top-nav">
        <h1 id="title">The Armoire</h1></div>
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="/cart">Cart</a>
        <a href="/contact">Contact</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
        <a href="/register">Register</a>
        {% if user|length == 0 %}
            <p>You're a guest!</p>
        {% else %}
            <p>Logged in as {{ user }}</p>
        {% endif %}
    </nav>
    {% block main %}
    {% endblock %}
</body>
</html>