<!DOCTYPE html>
<html>
<head>
    <title>Armoire</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Search FAILED</h1>
    <ul>
	<form action="/search" method="post">
		<input type="text" id="search" name="search"><br>
		<input type="submit" value="Submit"><br>
	</form>
	<p id="result"></p>
        <li><a href="{{ url_for('search') }}">Search</a></li>
        <li><a href="{{ url_for('shopping_cart') }}">Shopping Cart</a></li>
        <li><a href="{{ url_for('user_photo_upload') }}">User Photo Upload</a></li>
    </ul>
</body>
</html>
