<!DOCTYPE html>
<html>
<head>
    <title>Armoire</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Search PASSED</h1>
    <ul>
	<form action="/search" method="post">
		<input type="text" id="search" name="search"><br>
		<input type="submit" value="Submit"><br>
	</form>
	{% for result in results %}
		<p>{{ result["title"] }} - {{ result["price"] }} - {{ result["link"] }}</p>
		<img src={{ result["thumbnail"] }} width="100px" height="100px">
	{% endfor %}
        <li><a href="{{ url_for('search') }}">Search</a></li>
        <li><a href="{{ url_for('shopping_cart') }}">Shopping Cart</a></li>
        <li><a href="{{ url_for('user_photo_upload') }}">User Photo Upload</a></li>
    </ul>
</body>
</html>
