{% extends "layout.html" %}
{% block main %}
    {% if err %}
        <p style="color:red;">{{ err }}</p>
    {% endif %}
    <form action="/shop" method="post">
        <input type="text" id="shop" name="shop" placeholder="Search...">
        <select name="filter" id="filter">
            <option value="relevance">Relevance</option>
            <option value="review">Review Score</option>
            <option value="low2high">Low To High</option>
            <option value="high2low">High To Low</option>
	    </select>
        <input type="submit" name="submit" value="Submit">
    </form>
    {% if results %}
        <div class="border">
            {% for result in results %}
            <div class="thumbnail">
                <a href="{{ result['link'] }}" target="_blank">
                    <img src="{{ result['thumbnail'] }}"/>
                </a>
            </div>
            <div class="info">
                <p>{{ result['title'] }}</p>
                <p>Rating: {{ result['rating'] or 'N/A' }} / Reviews: {{ results['reviews'] or 'N/A' }}</p>
                <p>Price: {{ result['price'] }}</p>
                <form action="/add-to-cart" method="post">
                    <button type="submit" name="submit" value="{{ result }}" onclick="addToCart()">Add</button>
                </form>
            </div>
            <div class="break"></div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}