{% extends "layout.html" %}
{% block main %}
    {% if err %}
        <p style="color:red;">{{ err }}</p>
    {% endif %}
    <form action="/shop" method="post">
        <input type="text" id="shop" name="shop" placeholder="Search...">
        <select name="filter" id="filter">
            <option value="relevance">Relevance</option>
            <option value="review">Review Score</option>
            <option value="low2high">Low To High</option>
            <option value="high2low">High To Low</option>
	    </select>
        <input type="submit" name="submit" value="Submit">
    </form>
    {% if results %}
        {% for result in results %}
            <p>{{ result["title"] }} - {{ result["price"] }} - {{ result["link"] }}</p>
            <img src="{{ result['thumbnail'] }}">
            <form action="/add-to-cart" method="post">
                <button type="submit" name="submit" value="{{ result }}" onclick="addToCart()">Add</button>
            </form>
        {% endfor %}
    {% endif %}
{% endblock %}